* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #eefcff;
}

.slide h1, h2, h3, p {
  user-select: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw;
  background-color: white;
}

header img {
  max-height: 30vh;
  max-width: 100vw;
}

#age {
  display: flex;
  justify-content: center;
  gap: 4vw;
  margin-bottom: 15vw;
}

#age a {
  text-decoration: none;
  color: black;
  filter: drop-shadow(0 0 1vw #9c9c9c);
  border-radius: 5vw;
  background-color: white;
}

#age div {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10vw 0;
  border-radius: 5vw;
}

#children {
  border: 1.5vw solid #ff8f4e;
  background-color: #ffceb22a;
  color: #ff8f4e;
}

#grownups {
  border: 1.5vw solid #5463d5;
  background-color: #a8afe128;
  color: #5463d5;
}

#age div p {
  line-height: 7vw;
  font-size: 4.5vw;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1b1d21;
  margin: 0 0 15vw 0;
}

nav div {
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw;
  margin: 2vw 0;
}

nav div:not(:first-child) {
  border-left: 1px solid rgb(201, 201, 201);
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 3.5vw;
}

/*------------------INFO EXTRA------------------*/

#extraInfo {
  margin: 0 auto;
  width: 85vw;
  text-align: left;
  border: 2.5vw solid transparent;

  background-image:
    linear-gradient(white, white),
    linear-gradient(180deg, #a8e1d5, #ffe7b2 50%, #a8e1d5);

  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 200%;
  background-position: 0 0, 0 100%;
  background-origin: padding-box, border-box;
  animation: KF 1s infinite alternate;
}

@keyframes KF {
  100% {
    background-position: 0 0, 0 0;
  }
}

#extraInfo h2 {
  font-size: 8vw;
  font-weight: bold;
  letter-spacing: 1vw;
  line-height: 9vw;
  text-align: center;
}

#extraInfo ul {
  list-style: none;
}

#extraInfo li {
  margin: 7vw 2vw;
}


/*------------------AGE BLOCKS------------------*/

#childrenBlock {
  width: 85%;
  margin: 15vw auto;
  border: 2.5vw solid #ff8f4e;
  background-color: #ffceb280;
  text-align: center;
}

#childrenBlock h2 {
  font-size: 5.5vw;
  margin: 2vw 0;
  color: #ff8f4e;
}

#grownupsBlock {
  width: 85%;
  margin: 5vw auto;
  border: 2.5vw solid #5463d5;
  background-color: #a8afe180;
  text-align: center;
}

#grownupsBlock h2 {
  font-size: 5.5vw;
  margin: 2vw 0;
  color: #5463d5;
}

#tematica {
  width: 90%;
  margin : 10vw auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tematica div {
  border: 2px solid #9c9c9c;
  width: 50vw;
  margin: 2vw 0;
  padding: 4vw;
  border-radius: 8px;
  filter: drop-shadow(0 0 1vw #9c9c9c);
  display: flex;
  align-items: center;

  clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
  transition: clip-path 500ms;
}

#tematica div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #9c9c9c;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
  border-radius: 0 0 8px 0;
  transition: transform 500ms;
}

#tematica div:hover {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}

#tematica div:hover:after {
  transform: translate(-100%, -100%);
}

#robo {
  background-image: url(assets/elRoboMal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color: white;
  height: 20vw;
}

#robo:hover {
  background: linear-gradient(rgba(250,250,250, 0.6),
rgba(250,250,250, 0.6)), url('assets/elRoboMal.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#personalizada {
  background-image: url(assets/personalizada.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 15vw;
}

#personalizada:hover {
  background: linear-gradient(rgba(250,250,250, 0.6),
  rgba(250,250,250, 0.6)), url('assets/personalizada.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#tematica .nameTematica {
  font-size: 6vw;
  font-weight: bold;
  -webkit-text-stroke: 0.3vw rgb(0, 0, 0);
  color: white;
}

#tematica .desc {
  display: none;
  font-size: 3.5vw;
  color: black;
  font-weight: bold;
}

#tematica div:hover .desc {
  display: initial;
  opacity: 1;
}

#tematica div:hover .nameTematica {
  display: none;
}

.cuadrados {
  border: 1px solid black;
  width: 80vw;
  margin: 6vw auto;
  font-size: 4vw;
}

#childrenBlock .c1 {
  border: none;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

#childrenBlock .c1 div {
  text-align: left;
}

#grownupsBlock .cuadrados {
  border: none;
  font-weight: bold;
  font-size: 3.5vw;
}

#grownupsBlock div p {
  font-size: 4vw;
}



/*------------------OFERTA------------------*/

#bloquePrecio {
  margin-top: 20vw;
}

.box {
  margin: 0 auto;
  padding: 7vw 0;
  position: relative;
  width: 90vw;
  background: #fff;
  box-shadow: 0 0 2vw;
}

.ribbon {
  position: absolute;
  right: -1.282vw;
  top: -1.282vw;
  z-index: 1;
  overflow: hidden;
  width: 19.231vw;
  height: 19.231vw;
  text-align: right;
}

.ribbon span {
  font-size: 2.564vw;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 5.128vw;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 25.641vw;
  display: block;
  background: #79A70A;
  background: linear-gradient(#3498DB 0%, #2980B9 100%);
  box-shadow: 0 0.769vw 2.564vw -1.282vw rgba(0, 0, 0, 1);
  position: absolute;
  top: 4.872vw;
  right: -5.385vw;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0vw;
  top: 100%;
  z-index: -1;
  border-left: 0.769vw solid #2980B9;
  border-right: 0.769vw solid transparent;
  border-bottom: 0.769vw solid transparent;
  border-top: 0.769vw solid #2980B9;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0vw;
  top: 100%;
  z-index: -1;
  border-left: 0.769vw solid transparent;
  border-right: 0.769vw solid #2980B9;
  border-bottom: 0.769vw solid transparent;
  border-top: 0.769vw solid #2980B9;
}

.textoOferta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3vw;
}

.textoOferta p {
  font-family: 'Galindo';
  color: black;
  font-size: 5vw;
}

.textoOferta .p1 {
  font-size: 8vw;
}

.textoOferta .p2 {
  font-size: 4vw;
}

.asteriscoPrecios {
  margin: 5vw 5vw;
}

.asteriscoPrecios p {
  font-family: 'Galindo';
  font-size: 3vw;
  letter-spacing: 0.5vw;
}

.box2 {
  margin-top: 7vw;
  padding: 3vw 0;
}


/*------------------CONTACTA------------------*/

#reservaBlock {
  margin: 20vw 5vw 0vw 5vw;
  background-color: #ffd52b;
  border: 2.5vw solid #1b1d21;
  padding: 3vw 0 0 0;
}


.reservaTitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservaT1 {
  -webkit-text-stroke: 0.5vw rgb(0, 0, 0);
  font-size: 10vw;
  font-weight: bold;
  color: red;
}

.reservaRaya {
  height: 0.5vw;
  width: 83vw;
  background-color: black;
  margin: 1vw 0;
}

.reservaT2 {
  font-size: 3.5vw;
  font-weight: bold;
}

#reservaBoton {
  margin: 7vw 15vw;
  padding: 3vw 0;
  border-radius: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #34B7F1;
  /*#64acdc*/
  text-decoration: none;
  color: black;
}

#reservaBoton img {
  width: 7vw;
}

#reservaBoton p {
  font-size: 4vw;
}

#empresas {
  --mask: conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 50%/8.00vw 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background-color: #ffd52bbc;
  margin: 0 auto;
  margin-bottom: 20vw;
  width: 90vw;
}

#empresasDiv {
  padding: 2vw 0 4vw 0;
  font-size: 4vw;
  text-align: center;
}


/*------------------VIDEO------------------*/

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  align-content: start;
  max-width: 90vw;
  margin: 0 auto;
  transition: all 150ms linear;
  margin-bottom: 20vw;
}

#gallery input[type="radio"] {
  display: none;
}

#gallery label {
  position: relative;
  display: block;
  padding-bottom: 60%;
  margin: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#gallery label:before {
  border: 1px solid #e3e3e3;
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
}

#gallery img {
  display: none;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  transition: all 150ms linear;
}

#gallery video {
  display: none;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  transition: all 150ms linear;
}

#gallery input[name="select"]:checked + label + img {
  display: block;
}

#gallery input[name="select"]:checked + label + video {
  display: block;
}

#gallery input[name="select"]:checked + label:before {
  border: 1px solid #000;
}


/*------------------RESENYAS------------------*/

#resenyas {
  width: 90vw;
  margin: 0 auto 20vw auto;
  background-color: #ffe7b2b3;
  border: 2px solid black;
  border-top: none;
  padding: 5vw 0;
  border-radius: 0 0 3vw 3vw;
}

#resenyasFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#resenyasH3 {
  margin: 0 auto;
  width: 90vw;
  text-align: center;
  font-size: 5vw;
  background-color: #a8e1d5;
  border: 2px solid black;
  padding: 2vw 0;
}

#resenyas aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vw;
  width: 45%;
}

.resenya {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow-wrap: break-word;
  border: 1px solid #dbdbdb;
  border-collapse: collapse;
}

.rOpinion {
  font-size: 3vw;
  margin: 3vw 2vw
}

.rProfile {
  display: flex;
  flex-direction: row;
  margin: 3vw 2vw;
  align-items: center;
  gap: 5%;
}

.rProfile img {
  width: 30%;
}

.rProfile .rAutor {
  font-size: 3vw;
  width: 70%;
}

#resenyas a {
  display: block;
  width: 40vw;
  margin: 5vw auto 0 auto;
  text-decoration: none;
  color: black;
  padding: 2vw;
  border-radius: 3vw;
  box-shadow: 0 0 1vw 1vw rgba(0,0,0,0.5);
}

#resenyas a div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#resenyas a img {
  width: 5vw;
}

#resenyas a p {
  font-size: 4vw;
}


/*------------------PREGUNTAS FRECUENTES------------------*/

#faq {
  margin: 20vw auto 0 auto;
  text-align: center;
  font-size: 3.8vw;
  background-color: #4ec9bf;
  width: 90vw;
  border: dashed 0.78vw #2b2b2b;
  border-bottom: solid 0.78vw #000000;
  padding: 2vw 0;
}

#faq h3 {
  font-size: 5vw;
}

#chat {
  margin: 0 auto 20vw auto;

  border: dashed 0.78vw #2b2b2b;
  border-top: none;

  background-color: white;
  border-radius: 0 0 3vw 3vw;
  width: 90vw;
  /*box-shadow: 0 0 10px 1px #0bafa1;*/
}

.mensaje {
  display: inline-block;
  font-size: 4vw;
  border-radius: 5vw;
}

.m-left {
  background-color: #008484;
  margin: 5vw 15vw 5vw 5vw;
  border-bottom-left-radius: 0;
  color: white;
}

.m-right {
  background-color: #1a8400;
  /*#00ac0c*/
  margin: 5vw 5vw 5vw 15vw;
  border-bottom-right-radius: 0;
  color: white;
}

.mensaje p {
  padding: 3vw 5vw;
}


/*------------------VOLVER A RESERVA------------------*/

#volver {
  background: repeating-linear-gradient(90deg,
      #a8e1d5,
      #a8e1d5 2.5vw,
      #88cbbd 2.5vw,
      #88cbbd 5.13vw);
  display: flex;
  align-items: center;
  border: 0.25vw solid #ccc;
  margin: 0 5vw 20vw 5vw;
  padding: 3vw 0;
  gap: 5vw;
  justify-content: center;
}

#volver img {
  width: 10.25vw;
}

#volver a {
  color: black;
  text-decoration: none;
  font-size: 5vw;
  font-weight: bold;
}



/*------------------FOOT------------------*/

#foot {
  background-color: #1b1d21;
  width: 100%;
  font-size: 4vw;
}

#foot h3 {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  padding: 2vw 0;
}

.footItem {
  padding: 3vw 5vw;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footItem a {
  text-decoration: none;
  color: white;
}

.footItem img {
  width: 10vw;
}

#CONSTRUCCION {
  display: none;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------VERSION DE ESCRITORIO---------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@media screen and (orientation: landscape) {

  .slide {
    display: none;
  }

  #volver {
    display: none;
  }

  #foot {
    display: none;
  }

  #CONSTRUCCION {
    display: block;
    height: 100%;
  }

  #titulo {
    background-color: #55e5ef;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4.5vw;
    font-weight: bold;
  }

  #CONSTRUCCION p {
    font-size: 4;
  }

  #mantenimiento {
    height: 60vh;
    background-image: url(assets/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-height: 60vh;
  max-width: 100vw;
  }

  #contacto {
    height: 20vh;
    text-align: center;
    background-color: #1b1d21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #iconos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95vw;
    margin: 0 auto;
  }

  #iconos a {
    color: white;
    border: 2px solid #343638;
    text-decoration: none;
    background-color: #28282c;
    border-radius: 1vw;
  }

  .icono {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    gap: 1vw;
  }

  .icono img {
    object-fit: contain;
    width: 4.5vw;
  }

  .icono p {
    font-size: 1.9vw;
  }

  



  /*--------------------------------------------------------------*/
  /*--------------------CIERRE DEL MEDIA QUERY--------------------*/
  /*--------------------------------------------------------------*/
}